body{
    font-family: 'Shojumaru', cursive;
    font-size: 35px !important;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #E3BF28 !important;
    font-family: 'Passion One', cursive !important;
}

canvas{
    margin-left: auto;
    margin-right: auto;
}

.style{
    font-size: 40px;
    font-weight: bold;
}